

.header {
    background-color: #fff;
    padding: 10px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    float: right;
  }
  
  .profile-button {
    position: relative;
  }
  
  .header-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .profile-info {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .popup-container {
    position: absolute;
    top: 60px; /* Adjust this value to position the popup below the profile button */
    right: 0;
    background-color: rgb(179, 33, 33);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 5000; /* Ensure the popup is above other content */
    // display: none; /* Initially hide the popup */
  }
  
  .popup-container.active {
    display: block; /* Show the popup when active */
  }
  