
<div class="card-container">
  <div *ngFor="let card of orders" class="card">
    <div class="card-header">
      <div class="card-id">{{ card.tableNumber }}</div>
      <div class="card-meta">{{ card.id }}</div>
      <!-- <div class="card-count">{{ card.count }}</div> -->
    </div>
    <div class="card-body">
      <div *ngFor="let item of card.items" class="item">
        <div class="item-name">
          <!-- <span class="item-icon">&#x2713;</span> -->
          <span>{{ item.item }}</span>
          <span class="item-quantity">{{ item.quantity }}</span>
        </div>
        <!-- <div class="item-details">
          <p>{{ item.details }}</p>
        </div> -->
      </div>
    </div>
    <div class="card-footer">
      <button class="filter-button">Mark as served</button>
    </div>
  </div>
</div>
