
.card-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 340px;
  padding: 20px;
  margin: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.card-body {
  padding: 10px 0;
}

.card-id {
  font-size: 1.5em;
  font-weight: bold;
}

.card-meta, .card-count {
  font-size: 0.9em;
  color: #666;
}

.item {
  border-bottom: 1px dashed #eee;
  padding: 10px 0;
}

.item:last-child {
  border-bottom: none;
}

.item-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
}

.item-icon {
  margin-right: 8px;
  color: red;
}

.item-quantity {
  margin-left: 10px; /* Adjust this value as needed for spacing */
  color: #666;
}

.item-details p {
  margin: 2px 0;
}

.filter-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  flex: 1;
  margin-left: 10px;
}

.filter-button{
  background-color: #252121;
  color: white;
  width: 170px;
  padding: 16px;
  border-radius: 35px;
  font-weight: bold;
  font-family: system-ui;

}

