.card-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  position: relative; /* Added to position the button container */
}

.button-container {
  position: absolute;
  top: -46px;
  right: 10px;
  display: flex;
  gap: 10px;
  right: 94px;
}

.status-button {
  background-color: #252121;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 240px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* Ensure card stretches to fit content */
  height: auto;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.card-body {
  padding: 10px 0;
  overflow-y: auto; /* Enable scrolling */
  flex: 1; /* Allow body to grow and push footer down */
  max-height: 178px; /* Adjust height as needed */
}

.card-id {
  font-size: 1.5em;
  font-weight: bold;
}

.card-meta {
  font-size: 0.9em;
  color: #666;
}

.item {
  border-bottom: 1px dashed #eee;
  padding: 10px 0;
}

.item:last-child {
  border-bottom: none;
}

.item-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
}

.item-icon {
  margin-right: 8px;
  color: red;
}

.item-quantity {
  color: #666;
  margin-right: 25px;
}

.item-details p {
  margin: 2px 0;
}

.filter-button {
  background-color: #252121;
  color: white;
  width: 137px;
  padding: 12px;
  border-radius: 35px;
  font-weight: bold;
  font-family: system-ui;
  cursor: pointer;
  margin-top: 10px;

}

.received-btn {
  background-color: #958c86;
}

.served-btn {
  background-color: green;
}