<div *ngIf="isLoading" class="loader-container">
  <div class="spinner"></div>
</div>
<div *ngIf="!isLoading" class="card-container">
  <div class="button-container">
    <button class="status-button received-btn" (click)="received()">Recived</button>
    <button class="status-button served-btn" (click)="served()">Served</button>
  </div>
  <div *ngFor="let card of paginatedOrders" class="card">
    <div class="card-header">
      <div class="card-id">{{ card.tableNumber }}</div>
      <div class="card-meta">{{ card.id }}</div>
      <!-- <div class="card-count">{{ card.count }}</div> -->
    </div>
    <div class="card-body">
      <div *ngFor="let item of card.items" class="item">
        <div class="item-name">
          <!-- <span class="item-icon">&#x2713;</span> -->
          <span>{{ item.item }}</span>
          <span class="item-quantity">{{ item.quantity }}</span>
        </div>
        <!-- <div class="item-details">
          <p>{{ item.details }}</p>
        </div> -->
      </div>
    </div>
    <div class="card-footer">
      <button *ngIf="card.status != 'served'" class="filter-button" (click)="updateOrderStatus(card)">Mark as served</button>
      <!-- <button *ngIf="card.status === 'served'" class="filter-button served-btn" (click)="updateOrderStatus(card)">Served</button> -->
    </div>
  </div>
</div>
  <!-- Pagination controls -->
<div class="pagination" *ngIf="!isLoading">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>

<app-success-popup [isVisible]="showPopup" (onClose)="handlePopupClose()"></app-success-popup>
