
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  .menu-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  .menu-left {
    flex: 0 0 auto;
    // width: 200px;
    background-color: #252121;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    color: white;
    width: 250px;
  }
  .menu-left img {
    width: 60%;
    height: auto;
    margin-top: 40px;
  }
  .menu-buttons {
    margin-top: 20px; /* Adjust as needed */
  }
  .menu-buttons button {
    margin-bottom: 10px; /* Adjust as needed */
    padding: 10px;
    width: 150px; /* Adjust as needed */
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  .menu-buttons button:hover {
    background-color: #333;
  }
  .menu-right {
    flex: 1;
    padding: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 20px;
  }
  .grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
