/* Add any additional styling here */
.ag-theme-alpine .ag-header-cell-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.ag-theme-alpine .ag-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

button {
  outline: none;
}
/* Custom styles for the button */
.cool-button {
  background-color: #252521;/* Bootstrap Primary Color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cool-button:hover {
  background-color: #252521; /* Darker shade for hover effect */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.cool-button:active {
  transform: scale(0.95); /* Slightly reduce the button size when clicked */
}

.cool-button:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 5px #252521; /* Add a focus shadow */
}

.save-button {
  background-color: #252521;/* Bootstrap Primary Color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  float: right;
}

.save-button:hover {
  background-color: #252521; /* Darker shade for hover effect */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.save-button:active {
  transform: scale(0.95); /* Slightly reduce the button size when clicked */
}

.save-button:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 5px #252521; /* Add a focus shadow */
}


