
<app-snow-crystal-loader [isLoading]="loading"></app-snow-crystal-loader>
<button  *ngIf="!loading" class="cool-button" (click)="addRow()">Add Item</button>
<ag-grid-angular *ngIf="!loading"
  style="width: 100%; height: 500px;"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [frameworkComponents]="frameworkComponents"
  [pagination]="true"
  [paginationPageSize]="paginationPageSize"
  [rowSelection]="'single'"
  (gridReady)="onGridReady($event)"
  (cellValueChanged)="onCellValueChanged($event)">
</ag-grid-angular>

<button  *ngIf="rowData.length > 0 && !loading" class="save-button" [ngClass]="{ 'saved': isSaved, 'enabled': isUpdated }" [disabled]="!isUpdated"
(click)="save()"> {{ buttonText }}</button>



