

<div class="header-section">
    <div class="header">
        <img class="logo" height="120px" alt="SnowTable" src="/assets/snowtableratri.png" />
        <div class="header-right">
            <a href="#about">About Us</a>
        </div>
        <!-- <p class="companyName">Snowtable</p> -->
  
      </div>
      <div class="content">
        <h1>Snowtable</h1>
        <p>Improve your restaurant sales with Insights and customer service.</p>
        <div class="btn-signin">
            <asl-google-signin-button  type='standard' size='large' ux-mode="popup" shape="pill" theme="filled_black" >
            </asl-google-signin-button>
         </div>
      </div>
      <footer class="footer">
        <div class="container grid grid--footer">
  
          <div class="address-col">
            <p class="footer-heading">Contact us</p>
            <address class="contacts">
              <!-- <p class="address"> -->
                
              <!-- </p> -->
              <p>
                <!-- <a class="footer-link" href="tel:415-201-6370">415-201-6370</a -->
                <!-- ><br /> -->
                <a class="footer-link" >{{email}}</a>
              </p>
            </address>
          </div>
  
          <nav class="nav-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">Create account</a></li>
              <li><a class="footer-link" href="#">Sign in</a></li>
              <!-- <li><a class="footer-link" href="#">iOS app</a></li>
              <li><a class="footer-link" href="#">Android app</a></li> -->
            </ul>
          </nav>
  
         <!-- <nav class="nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">About Omnifood</a></li>
              <li><a class="footer-link" href="#">For Business</a></li>
              <li><a class="footer-link" href="#">Cooking partners</a></li>
              <li><a class="footer-link" href="#">Careers</a></li>
            </ul>
          </nav> -->
  
          <!-- <nav class="nav-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">Recipe directory </a></li>
              <li><a class="footer-link" href="#">Help center</a></li>
              <li><a class="footer-link" href="#">Privacy & terms</a></li>
            </ul>
          </nav> -->
        </div>
      </footer>
    </div>
  
  
  
  
  
  
  