
    <div class="login-container">
        <div class="login-card">
            <img src="/assets/snowtableratri.png" alt="Logo" class="logo">
            <input type="email" placeholder="Email" class="input-field">
            <input type="password" placeholder="Password" class="input-field">
            <button class="continue-button">Continue</button>
            <hr class="divider">
            <p>Or continue with</p>
            <div class="google-login">
              <asl-google-signin-button type="standard" size="large" ux-mode="popup" shape="pill" theme="filled_black"></asl-google-signin-button>
            </div>
            <div class="links">
                <a href="#" class="link">Can't login?</a>
                <a href="#" class="link" onclick="createAccount()">Create account</a>
            </div>
        </div>
    </div>

