<!-- <div class="login-container">
    <div class="login-card">
        <img src="/assets/snowtableratri.png" alt="Logo" class="logo">
        <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
            <div>
                <input type="email" placeholder="Email" class="input-field" [(ngModel)]="email" name="email" required email (keydown)="handleKeydown($event)" #emailField="ngModel">
                <div *ngIf="emailField.invalid && emailField.touched" class="error-message">
                    <div *ngIf="emailField.errors?.['required']">Please provide an email.</div>
                    <div *ngIf="emailField.errors?.['email']">Please enter a valid email format.</div>
                </div>
            </div>
            <div>
                <input type="password" placeholder="Password" class="input-field" [(ngModel)]="password" name="password" required minlength="6" (keydown)="handleKeydown($event)" #passwordField="ngModel">
                <div *ngIf="passwordField.invalid && passwordField.touched" class="error-message">
                    <div *ngIf="passwordField.errors?.['required']">Please provide a password.</div>
                </div>
            </div>
            <div class="error-message"  *ngIf="error">{{error}}</div>
            <button class="continue-button" type="submit" [disabled]="loginForm.invalid">
                <div *ngIf="loading" class="progress-bar-container">
                    <div class="progress-bar"></div>
                  </div>
          
                <span>Continue</span>
            </button>
        </form>
        <hr class="divider">
        <p>Or continue with</p>
        <div class="google-login">
          <asl-google-signin-button type="standard" size="large" ux-mode="popup" shape="pill" theme="filled_black"></asl-google-signin-button>
        </div>
        <div class="links">
            <a href="#" class="link">Can't login?</a>
            <a href="#" class="link" (click)="createAccount()">Create account</a>
        </div>
    </div>
</div> -->


<div class="login-container">
    <div class="login-card">
      <img src="/assets/snowtableratri.png" alt="Logo" class="logo">
      <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
        <div>
          <input type="email" placeholder="Email" class="input-field" [(ngModel)]="email" name="email" required email (keydown)="handleKeydown($event)" #emailField="ngModel">
          <div *ngIf="emailField.invalid && emailField.touched" class="error-message">
            <div *ngIf="emailField.errors?.['required']">Please provide an email.</div>
            <div *ngIf="emailField.errors?.['email']">Please enter a valid email format.</div>
          </div>
        </div>
        <div>
          <input type="password" placeholder="Password" class="input-field" [(ngModel)]="password" name="password" required minlength="6" (keydown)="handleKeydown($event)" #passwordField="ngModel">
          <div *ngIf="passwordField.invalid && passwordField.touched" class="error-message">
            <div *ngIf="passwordField.errors?.['required']">Please provide a password.</div>
          </div>
        </div>
        <div class="error-message" *ngIf="error">{{error}}</div>
        <div *ngIf="loading" class="progress-bar-container">
            <div class="progress-bar"></div>
          </div>
        <button class="continue-button" type="submit">
          <span>Continue</span>
        </button>
      </form>
      <hr class="divider">
      <p>Or continue with</p>
      <div class="google-login">
        <asl-google-signin-button type="standard" size="large" ux-mode="popup" shape="pill" theme="filled_black"></asl-google-signin-button>
      </div>
      <div class="links">
        <a href="#" class="link">Can't login?</a>
        <a href="#" class="link" (click)="createAccount()">Create account</a>
      </div>
    </div>
  </div>
  
