



.wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #252521;
  /* Additional background styles can be added here */
}

.card {
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px; /* Adjust max-width as needed */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container {
  padding: 20px;
}

.form-group {
  margin: 35px 0 45px 0;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.register-btn {
  background-color: #252521;
  color: #c3bebe;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  float: right;

}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .card {
    width: 90%;
    max-width: 90%;
  }
}



input:focus {
  outline: none;
  border: 2px solid #252121; /* Change the border color */
  box-shadow: 0 0 5px #252121 /* Add a shadow */
}


.validation-message {
  color: red;
  font-size: 12px;
}


.progress-bar-container {
  position: relative;
  width: 100%;
  height: 4px;
  margin-bottom: 10px;
  z-index: 1;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 1px;
  animation: progress-animation 2s infinite;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}




