<!-- <div class="wrapper-container"> -->
<!-- <div class="logo">
  <img src="assets/snowtableratri.png" alt="Snowtable Logo">
</div> -->
<!-- <div class="container">
    <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
      <div class="form-group restaurant">
        <label for="restaurantName">Restaurant Name</label>
        <input type="text" class="form-control" id="restaurantName" required [(ngModel)]="restaurant.restaurant_name" name="restaurantName">
      </div>
      <div class="form-group">
        <label for="ownerName">Owner Name</label>
        <input type="text" class="form-control" id="ownerName" required [(ngModel)]="restaurant.owner_Name" name="ownerName">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" id="phone" required [(ngModel)]="restaurant.phone" name="phone">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="restaurant.email" name="email">
      </div>
      <button type="submit" class="register-btn">Register</button>
    </form>
  </div>
</div> -->

<div class="wrapper-container" style="background-image: url('assets/bgimage.jpg');">
  <div class="card">
    <!-- Logo -->
    <!-- Uncomment if you want to add a logo -->
    <!-- <div class="logo">
      <img src="assets/snowtableratri.png" alt="Snowtable Logo">
    </div> -->

    <!-- Registration Form -->
    <div class="container">
      <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
        <div class="form-group">
          <label for="restaurantName">Restaurant Name</label>
          <input type="text" class="form-control" id="restaurantName" required [(ngModel)]="restaurant.res_name" name="restaurantName">
        </div>
        <div class="form-group">
          <label for="ownerName">Owner Name</label>
          <input type="text" class="form-control" id="ownerName" required [(ngModel)]="restaurant.owner_name" name="ownerName">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control" id="phone" required [(ngModel)]="restaurant.phone" name="phone">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" required [(ngModel)]="restaurant.email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required [(ngModel)]="restaurant.password" name="password">
        </div>
        <button type="submit" class="register-btn">Register</button>
      </form>
    </div>
  </div>
</div>

  