body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-panel {
    background-color: #252121;
    color: #fff;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
}
.logo img {
    display: block;
    max-height: 120px;
}

.sentence-container {
    text-align: left;
    margin-left: 15px;
    line-height: 1.5;
}

.sentence {
    display: inline-block;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.animated-letter {
    font-size: 30px;
    display: inline-block;
    font-family: fangsong;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.space {
    width: 0.5em;
    display: inline-block;
}

.right-panel {
    background-color: #fff;
    color: #252121;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.content {
    text-align: center;
}

.button-container {
    margin-top: 20px;
    display: flex;
}

.btn {
    background-color: #252121;
    color: #fff;
    border: none;
    padding: 10px 50px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    width: 100%;
}

.btn:hover {
    background-color: #333;
}
.content {
    font-size: 12px;
}
.content h1 {
    margin: 10px
}

@media (max-width: 768px) {
    .landing-container {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        flex: 1;
        width: 100%;
    }

    .btn {
        width: 80%;
        font-size: 14px;
    }

    .sentence-container {
        margin-top: 50px;
        line-height: 1.2;
    }

    .animated-letter {
        font-size: 10px;
    }

    .logo img {
        max-height: 70px;
    }
}
.user-login-card {
     text-align: center;
  
     .error-message {
        color: red;
        font-size: 0.9em;
        margin-top: 5px;
      }
    

    h3 {
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 20px;
  
      .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #333;
        border-radius: 4px;
        margin-top: 10px;
        background-color: #f0f0f0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        outline: none;

      }
      &:focus-visible {
        outline: none !important; /* Remove the blue outline */
        box-shadow: none !important; /* Remove the blue shadow */
      }

    }
  
    .submit-btn {
      background-color: white;
      color: black;
      padding: 10px 20px;;
      border: 1px solid #a79f9f;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #ddd;
      }
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
  

  .progress-bar-container {
    position: relative;
    width: 100%;
    height: 4px;
    margin-bottom: 10px;
    z-index: 1;
  }
  
  .progress-bar {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 1px;
    animation: progress-animation 2s infinite;
  }